* {
    font-family: Hack, Symbols Nerd Font;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 0.7s;
}

window {
    background-color: #11111b;
    /* border-radius: 10px; */
}

button {
    background-color: #11111b;
    border-style: solid;
    /* border-width: 2px; */
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 15px;
}

button:active,
button:hover {
    background-color: #cdd6f4;
}

button:focus {
    background-color: #cdd6f4;
}

